@font-face {
    font-family: 'Yekan';
    src:	url('../Font/Yekan-Font-3.0/Yekan.eot'); /* IE9 Compat Modes */
    src:	url('../Font/Yekan-Font-3.0/Yekan.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('../Font/Yekan-Font-3.0/Yekan.woff2') format('woff2'), /* Modern Browsers */
            url('../Font/Yekan-Font-3.0/Yekan.woff') format('woff'), /* Modern Browsers */
            url('../Font/Yekan-Font-3.0/Yekan.otf') format('opentype'), /* Open Type Font */	
            url('../Font/Yekan-Font-3.0/Yekan.ttf') format('truetype'); /* Safari, Android, iOS */
    font-weight: normal;
    font-style: normal;
    text-rendering: optimizeLegibility;
    font-display: auto;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: "Yekan" !important;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(47, 65, 114);
    padding-left: 8px;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar ul {
    display: flex;
    list-style-type: none;
}
.navbar a {
    color: #ffffff;
    padding: 5px;
    text-decoration: none;
    position: relative;
    right: 5px;
}
.logo-name {
    color: #ffffff;
    display: flex;
    align-items: center;
    padding-left: 8px;
}

body {
    background-color: #edf2f7;
}
.main {
    display: flex;
    margin: 1rem;
}
aside {
    width: 25%;
}
main {
    width: 75%;
}
aside, main {
    background-color: #ffffff;
    height: 540px;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    padding: 1rem;
}
main {
    margin-left: 15px;
}